.direction-reverse {
  direction: rtl;
}

.map-area {
  transition: none !important;
  will-change: transform;
  margin-bottom: -10%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

/* Remove left and right padding from container on mobile */
@media (max-width: 767px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}