.direction-reverse {
  direction: rtl;
}

.day-cell {
  transform-style: preserve-3d;
  transform: translateZ(0);
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.day-cell:hover {
  transform: translateY(-30px) translateX(30px);
}
