.direction-reverse {
  direction: rtl;
}

.map-area {
  transition: none !important;
  will-change: transform;
  margin-bottom: -10%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

/* On mobile: keep padding for heading, remove padding for map area */
@media (max-width: 767px) {
  /* Add padding to heading wrapper to maintain spacing */
  .daymap-heading-wrapper {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  
  /* Extend map area to edges using negative margins */
  .daymap-map-wrapper {
    margin-left: -2rem;
    margin-right: -2rem;
    width: calc(100% + 4rem);
  }
}