.day-cell,
.day-cell-side,
.day-cell-bottom,
.day-cell * {
  overflow: visible;
  transform-style: preserve-3d;
}

.day-cell {
  position: relative;
  transform-style: preserve-3d;
  perspective: 1500px;
  transform: translateZ(0);
  z-index: 1;
}

.day-cell-side {
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: black;
  z-index: -1;
  transform: rotateY(118deg) skewY(23deg) translateY(2px);
  transform-origin: left center;
}

.day-cell-bottom {
  transform-style: preserve-3d;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: black;
  z-index: -1;
  transform: rotateX(110deg) skewX(20deg);
  transform-origin: bottom center;
}

.day-cell,
.day-cell-side,
.day-cell-bottom {
  transition:
    transform 0.4s cubic-bezier(0.16, 1, 0.3, 1),
    width 0.4s cubic-bezier(0.16, 1, 0.3, 1),
    height 0.4s cubic-bezier(0.16, 1, 0.3, 1);

  will-change: transform, width, height;
}

.day-cell.day-hoverable:hover {
  transform: translateY(-30px) translateX(30px);
  cursor: pointer;
  z-index: 15 !important;
}

.day-cell.day-hoverable:hover .day-cell-side {
  width: 80%;
  cursor: pointer;
}

.day-cell.day-hoverable:hover .day-cell-bottom {
  height: 90%;
  cursor: pointer;
}

/* When Complete */
.day-cell.day-complete {
  transform: translateY(-30px) translateX(30px);
  z-index: 5;
  cursor: pointer;
}

.day-cell.day-complete .day-cell-side {
  width: 80%;
  cursor: pointer;
}

.day-cell.day-complete .day-cell-bottom {
  height: 90%;
  cursor: pointer;
}
