.day-cell,
.day-cell-side,
.day-cell-bottom,
.day-cell * {
  overflow: visible;
  transform-style: preserve-3d;
}

.day-cell {
  position: relative;
  transform-style: preserve-3d;
  perspective: 1500px;
  transform: translateZ(0);
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  z-index: 1;
}

.day-cell-side {
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: black;
  z-index: -1;
  transform: rotateY(118deg) skewY(23deg) translateY(1px);
  transform-origin: left center;
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.day-cell-bottom {
  transform-style: preserve-3d;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: black;
  z-index: -1;
  transform: rotateX(111deg) skewX(20deg) translateY(4px) translateZ(2px);
  transform-origin: bottom center;
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.day-cell:hover {
  transform: translateY(-30px) translateX(30px);
  z-index: 15 !important;
}

.day-cell:hover .day-cell-side {
  height: 100%;
}

.day-cell:hover .day-cell-bottom {
  width: 100%;
}

/* When Complete */
.day-cell.day-complete {
  transform: translateY(-30px) translateX(30px);
  z-index: 5;
}

.day-cell.day-complete .day-cell-side {
  height: 100%;
}

.day-cell.day-complete .day-cell-bottom {
  width: 100%;
}
