.map-area {
  perspective: 2000px;
  transform-style: preserve-3d;
}

.tile {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

.arrow-tile {
  filter: drop-shadow(-12px 14px 8px rgba(0, 0, 0, 0.75));
}

.tile::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3); /* Ambient occlusion */
  filter: blur(8px);
  transform: translateY(30px) translateX(-30px);
  z-index: -100;
  transition: all 0.4s ease;
}

.day-cell,
.day-cell-side,
.day-cell-bottom,
.day-cell * {
  overflow: visible;
  transform-style: preserve-3d;
}

.day-cell {
  position: relative;
  transform-style: preserve-3d;
  perspective: 1500px;
  transform: translateZ(0);
  z-index: 1;
  border-radius: 3.5px;
}

.day-cell-side {
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  height: 101%;
  width: 0;
  background-color: black;
  z-index: -1;
  transform: rotateY(118deg) skewY(23deg) translateY(0px);
  transform-origin: left center;
  
}

.day-cell-bottom {
  transform-style: preserve-3d;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: black;
  z-index: -1;
  transform: rotateX(110deg) skewX(20deg);
  transform-origin: bottom center;
  border-radius: 3px;
}

.day-cell,
.day-cell-side,
.day-cell-bottom {
  transition:
    transform 0.4s cubic-bezier(0.16, 1, 0.3, 1),
    width 0.4s cubic-bezier(0.16, 1, 0.3, 1),
    height 0.4s cubic-bezier(0.16, 1, 0.3, 1);

  will-change: transform, width, height;
}

.day-cell.day-hoverable:hover {
  transform: translateY(-30px) translateX(30px);
  cursor: pointer;
  z-index: 15 !important;
}

.day-cell.day-hoverable:hover .day-cell-side {
  width: 100%;
  cursor: pointer;
}

.day-cell.day-hoverable:hover .day-cell-bottom {
  height: 95%;
  cursor: pointer;
}

/* When Complete */
.day-cell.day-complete {
  transform: translateY(-30px) translateX(30px);
  z-index: 5;
  cursor: pointer;
}

.day-cell.day-complete .day-cell-side {
  width: 100%;
  cursor: pointer;
}

.day-cell.day-complete .day-cell-bottom {
  height: 95%;
  cursor: pointer;
}

/* Mobile: Increase cell side width and bottom height */
@media (max-width: 767px) {
  .day-cell.day-hoverable:hover .day-cell-side {
    width: 100%;
  }

  .day-cell.day-complete .day-cell-side {
    width: 100%;
  }

  .day-cell.day-hoverable:hover .day-cell-bottom {
    height: 100%;
  }

  .day-cell.day-complete .day-cell-bottom {
    height: 150%;
  }
}
